<div class="container">
        <div class="row" class="form-group">
                <div class="col-xs-4">
                   <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                    <div class="row">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" name="firstName"
                            ngModel
                            >
                    </div>
                    <div class="row">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" 
                            required minlength="4"
                            name="lastName"
                            ngModel
                            >
                    </div>
                    <div class="row">
                            <label for="lastName">Phone Number</label>
                            <input type="text" class="form-control" 
                            name="phoneNumber"
                            ngModel
                            >
                    </div>
                    <hr>
                    <div class="row">
                        <button class="btn btn-success" type="submit">Submit</button>
                    </div>

                   </form>
                </div>
            </div>
</div>